.image-form {
  display: flex;
  flex-direction: column;
}

.image-form-item {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-form-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.gallery-photo-container {
  position: relative;
}

.gallery-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: width 200ms linear;
}

.gallery-photo:hover {
  width: 210px;
  height: 210px;
}

.gallery-photo-title {
  text-align: center;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
}