.center {
  margin-left: auto;
  margin-right: auto;
}

.image-form {
  display: flex;
  flex-direction: column;
}

.image-form-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mybutton {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 115px;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid var(--text-color);
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--text-color);
  text-align: center;
  transition: all 0.2s;
}

.mybutton:hover{
  cursor: pointer;
  color: var(--opposite-text-color);
  background-color: var(--opposite-background-color);
  border-color: var(--opposite-background-color);
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.gallery-photo-container {
  position: relative;
}

.gallery-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: width 200ms linear;
}

.gallery-photo:hover {
  width: 210px;
  height: 210px;
}

.gallery-photo-title {
  text-align: center;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
}